html
{
	scroll-behavior: smooth;
}

body
{
  background-color: #141414;
  color: white;
}

button
{
	background-color: #E50914;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	padding: 10px;
	transition: all 0.2s;
}

button:hover
{
	background-color: #B20710;
	border: none;
	color: white;
}

/* Header */
.header_header
{
	align-items: center;
	background: linear-gradient(#000000, transparent);
	display: inline-flex;
	height: 80px;
	justify-content: space-between;
	position: absolute;
	width: 100%;
	font-family: "Netflix Sans", sans-serif;
}

.header_header_logo img
{
  margin-left: 20px;
  margin-top: 10px;
  width: 120px;
  height: auto;
}

.header_header_navigation_bar
{
	display: flex;
	list-style: none;
	margin-right: 10px;
}

.header_header_navigation a
{
	color: white;
	font-size: 20px;
	margin-right: 20px;
	text-decoration: none;
	transition: all 0.2s;
}

.header_header_navigation a:hover
{
	font-weight: bold;
}

/* Best movie */
.best_best
{
	background-image: url(images/pexels-cottonbro-9665187.jpg);
	background-size: cover;
	padding: 150px 200px 180px 200px;
}

.best_best_movie_title
{
	font-size: 45px;
	font-family: "Netflix Sans", sans-serif;
}

.best_best_button
{
	font-size: 18px;
	width: 120px;
}

.best_best_movie_description p
{
	font-style: italic;
	line-height: 180%;
	margin-right: 60%;
	margin-top: 3%;
}

.best_best_cover img
{
	border-radius: 10px;
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
	float: right;
	max-width: 280px;
	min-width: 200px;
	width: 40%;
}

/* Categories */
.categories_categories
{
	align-items: center;
	background: linear-gradient(#222222, #111111);
	display: flex;
	height: 600px;
	justify-content: center;
}

/* Modal */
.modal_modal
{
	background-color: rgba(0, 0, 0, 0.8);
	display: none;
	height: 100%;
	position: fixed;
	top: 0;
	width: 100%;
}

.modal_modal_content
{
	background-color: #222222;
	border-radius: 10px;
	margin: 5% auto;
	max-width: 1500px;
	min-height: 350px;
	padding: 30px 30px 60px 30px;
	width: 80%;
}

.modal_modal_cover_image img
{
	border-radius: 10px;
	box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.4);
	float: right;
	height: 340px;
	margin-right: 120px;
	margin-top: 1%;
}

.modal_modal_content h3
{
	display: inline-block;
	font-size: 32px;
}

.modal_modal_button
{
	font-size: 14px;
	margin-left: 30px;
	width: 80px;
}

.modal_modal_movie_information
{
	font-size: 20px;
	margin-left: 30px;
	margin-right: 40%;
}

.modal_modal_metadata
{
	font-weight: bold;
}

.modal_modal_content p
{
	display: inline;
	line-height: 150%;
}

.modal_modal_genres, strong
{
	color: #caaa76;
}

.modal_modal_summary
{
	font-style: italic;
}

.modal_modal_close
{
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.modal_modal_close:hover, .modal_modal_close:focus
{
	cursor: pointer;
	text-decoration: none;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #111111;
  color: #ffffff;
  padding: 20px;
}

.footer_footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.footer_footer nav {
  margin-right: auto;
}

.footer_footer nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer_footer nav li {
  display: inline-block;
  margin-right: 20px;
}

#modal-modal-footer {
  height: 60px;
  margin-left: auto;
}